<a href="https://colab.research.google.com/github/marianmykola/marian/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:

def arithmetic_arranger(problems):
  if len(problems) > 5:
    return 'Error: too many problems'
  a_p = {"top" : [], "bot" : [], "line" : [], "result" : []}
  for problem in problems:
    operand = problem.split()
    num1, operator, num2 = operand
    line1 = num1.rjust(4)
    a_p["top"].append(line1)

    print(a_p["top"])
    #print(operator)
    #print(num2)



  return "OK"

arithmetic_arranger(["32 + 698", "3801 - 2", "45 + 43", "123 + 49"])

['  32']
['  32', '3801']
['  32', '3801', '  45']
['  32', '3801', '  45', ' 123']

'OK'